<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgfaqRfY0EIAVz5xhC2O5v7ZkMhuly-Xs</string>
	<key>GCM_SENDER_ID</key>
	<string>950383333047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clubHub</string>
	<key>PROJECT_ID</key>
	<string>clubhub-7dbbd</string>
	<key>STORAGE_BUCKET</key>
	<string>clubhub-7dbbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950383333047:ios:90fdd095f210dcd44c8732</string>
</dict>
</plist>